# git ignore

.DS_Store

# for development
dev/
dev_old/
OUT/
OUT_shigella/
bin/

# environment
env/
setenv.sh

# DQC reference dir.
dqc_reference
dqc_reference_dev
dqc_reference*

# ShigaPass (installed separately by users)
dqc/shigapass/ShigaPass.sh
dqc/shigapass/ShigaPass_DataBases/

# python
__pycache__/
*.pyc


# pyenv
.python-version

# dev
.vscode
