# git ignore

.DS_Store

# for development
dev/
dev_old/
OUT/
bin/

# environment
env/
setenv.sh

# DQC reference dir.
dqc_reference
dqc_reference_dev
dqc_reference*

# python
__pycache__/
*.pyc


# pyenv
.python-version

# dev
.vscode
